@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline text-xs md:text-sm;
  }
  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-t from-yellow-200 to-yellow-400 border-none rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500;
  }
  .footer-link {
    @apply text-sm py-1 hover:underline;
  }
}

/* Product Card Animation */
.custom__product__card {
  transition: 600ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -webkit-transition: 600ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -moz-transition: 600ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -ms-transition: 600ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
  -o-transition: 600ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.custom__product__card:hover {
  transform: scale(1.055);
  -webkit-transform: scale(1.055);
  -moz-transform: scale(1.055);
  -ms-transform: scale(1.055);
  -o-transform: scale(1.055);
}
